@charset "UTF-8";

:root {
  --bs-primary: #01984b;
  --bs-secondary: #dcc331;
}

.navbar-logo {
  max-height: 70px;
  height: auto;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.bg-primary-secondary {
  background-color: var(--bs-secondary) !important ;
}

.pic-left {
  float: left;
  width: 200px; 
  margin: 0 20px 10px 0px;
}

h2 {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  background-color: rgba(220, 195, 49, 0.8);
}

@media (max-width: 576px) {
  .img-fluid {
    padding-bottom: 30px;
  }
  .modal-content .img-fluid {
    margin-bottom: 0px !important;
  }
  #mainheader {
    text-align: center;
  }
  #mainheader img {
    width: 40%;
  }
  #about div h2, #authors div h2 {
    text-align: center;
  }
  .navbar-brand {
    max-width: 60% !important;
    margin-right: -40px;
  }
  .navbar-logo {
    max-width: 100%;
  }

  .pic-left {
    width: 150px;
  }
}

