@charset "UTF-8";

:root {
  --bs-primary: #01984b; /* Replace this with your preferred green */
}

.navbar-logo {
  max-height: 70px;
  height: auto;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

@media (max-width: 576px) {
  .img-fluid {
    max-width: 40%;
    padding-bottom: 30px;
  }
  #mainheader {
    text-align: center;
  }
  #synopsis div h2 {
    text-align: center;
  }
  .navbar-brand {
    max-width: 60% !important;
    margin-right: -40px;
  }
  .navbar-logo {
    max-width: 100%;
  }
}

